/* Colours:
Orange: #fa8510 - header
NavyBlue: #215b79 - footer
AnotherBlue: #B6CAD0 - sections, buttons
Yellow: #fbc304 - sections, buttons
Light colour for background: #f8f1e2
Black for text: #0e0c08
*/


/*common for all pages*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1; /* This will make the main take up the remaining space */
    background-color: #f8f1e2;
    padding: 20px;
}
header {
    background: #fa8510;
    /*padding: 20px;*/
    text-align: center;
    width: 100%;
    height: 98px;
    padding: 10px 20px;
}

header a {
    color: #0e0c08;
}
nav {
    margin-left: auto;
    margin-right: 5%;
}      
nav ul {
    list-style-type: none;
}
li > a {
    color: inherit;
    text-decoration: none;
  }
row > ul > li:hover {
    color: #0e0c08;
    cursor: pointer;
}

/*button*/
button {
    background-color: #fbc304;
    border: none;
    border-radius: 10px;
    color: #0e0c08;
    padding: 12px 26px;
    font-size: 15px;
    /*margin: 4px 2px;*/
    /*opacity: 1;*/
    /*transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;*/
}
button:hover {opacity: 0.6}

.row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
    .row .links {
      flex-direction: row;

      margin: 30px 0;
    } 
  }


/*home page*/
.home-container {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items:center
}
.content h1 {
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}
#logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
  }

/*about page*/
.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.about-content {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#B6CAD0;
}
.about-content > * {
    margin: 0 20px; /* Adds horizontal margin around each item */
    padding-top: 0; /* Adds top padding 0 to each item */
    padding-bottom: 20px; /* Adds bottom padding 20px to each item */
}

#text-emphasise {
    font-weight: 500;
}
.img-container {
    display: inline-block; /* Ensure container adapts to image size */
    padding-bottom: 20px; 
}
.img-container img {
    display: block; /* Ensure the image takes up full width inside the container */
    width: 200px;
    height: 200px; /* Maintain the exact 200x200 dimensions */
    border-radius: 50%;
}

.grid {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    border: 1rem;*/
}
ul {
    list-style-type: none;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
    .grid {
      flex-direction: column;
    }
}

.grid-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.grid-list > *:not(:last-child) {
    padding-bottom: 20px; /* Not Add bottom padding 20px to the last item */
}

.grid-list-row {
    display: flex;
    gap: 0.5rem;    
    flex-wrap: wrap;
    align-items: center;
}

/*footer*/
.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    align-items: center;
    background-color:#215b79;
    
}
.footer-container > * {
    margin: 0 20px; /* Adds horizontal margin around each item */
  }
  
.footer-container > *:first-child {
    margin-left: 0; /* Remove left margin from the first item */
  }
  
.footer-container > *:last-child {
    margin-right: 0; /* Remove right margin from the last item */
  }

/* If the screen size is 600px wide or less, hide the element */
@media screen and (max-width: 600px) {
    div.address-footer {
      display: none;
    }
  }

footer p {
    color: #f8f1e2;
    /*text-align: center;*/
    /*flex-grow: 1;*/
}
footer h3 {
    color: #f8f1e2;
}
footer a {
    text-decoration: none;
    /*text-align: center;*/
    color:#f8f1e2;
    font-weight: 600;
    /*flex-grow: 1;*/
}
      

      

      
