/* Colours:
Orange: #fa8510 - header
NavyBlue: #215b79 - footer
AnotherBlue: #B6CAD0 - sections, buttons
Yellow: #fbc304 - sections, buttons
Light colour for background: #f8f1e2
Black for text: #0e0c08
*/

.contact-section {
    text-align: center;
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
}

.contact-intro > * + * {
    margin-top: 1rem;
}

.contact-title {
    font-size: 1.9rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.contact-description {
    color: #0e0c08;
}

.form-label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}
.form-group > *:first-child {
    padding-bottom: 10px;
}

.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid #f8f1e2;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.form-textarea {
    min-height: 120px;
}

.form-submit{
    width: 100%;
    padding: 13px 5px;
    border-radius: 10px;
}
.dropdown {
    display: flex;
    flex-direction: column;
}
.dropdown > *:first-child {
    padding-bottom: 10px;
}

#dropbox {
    width: 200px;
    font-family: 'Montserrat', sans-serif;
}
#checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Modal Box*/
.modal {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: whitesmoke;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #afad8c;
    width: 80%; 
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color:#464c2f;
}
.modal-content p {
    margin-bottom: 1rem;
}
.hide {
	display: none;
}
/* The Close Button*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}